<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title>sunghocipherome Example-SMART-App</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap">
    <link rel='stylesheet' type='text/css' href='./src/css/example-smart-app.css'>
    <link rel="stylesheet" type='text/css' href='./src/css/jquery.mobile-1.4.5.min.css'>
    <link rel="stylesheet" type='text/css' href='./src/css/jqm-demos.css'>
    <link rel="stylesheet" type='text/css' href=./src/css/report_viewer.css'>
    <!--
      Temporarily disable cerner-smart-embeddable-lib
      <link rel='stylesheet' type='text/css' href='./lib/css/cerner-smart-embeddable-lib-1.0.0.min.css'>
    -->
  </head>
  <body>
    <div data-role="page" class="jqm-demos">
      <div id='errors'></div>
      <div id="loading" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div id='holder' >
      <div data-role="header" class="jqm-header" data-position="fixed">
          
          <a href="#" class="jqm-navmenu-link ui-btn"><img src="./src/images/ic_menu.png" width="23.25px" height="19.5px"></a>
          <div class="div-patient-id">
              <span id="fname" class="font-style-subtitle font-color-wh"></span>
          </div>
          <div class="div-patient-info">
              <span class="font-style-caption2 font-color-cg">Report Date</span><br/>
              <span class="font-style-body1 font-color-bk">February 10, 2021</span>
          </div>
          
          <div class="div-logo">
              <img src="./src/images/ic_symbol_menu.png" width="30px" height="35px">
              <span class="font-style-subtitle font-color-navy">Lighthouse</span>
          </div>
      </div><!-- /header -->

      <div role="main" class="ui-content jqm-content">
          {% if target == "summary" %}
              {% include 'report/report_summary.html' %}
          {% else %}
              {% include 'report/report_selected_drug.html' %}
          {% endif %}

          <div class="jqm-footer">
              <img src="./src/images/img_cipherome_wordmark.png" height="20px">
              <div>
                  <span class="font-style-footer font-color-cg"><b>Lighthouse Pharmacogenomics Report</b></span>
              </div>
              <span class="font-style-footer font-color-cg">The information contained in the Lighthouse report is intended to be used by a licensed physician or licensed healthcare professional and is meant to enhance, not be a substitute for, professional medical advice. Prescribing medications should only be done after consulting with a licensed physician or licensed healthcare professional, and must take into account the patient’s medical history and concomitant medications.</span>
          </div><!-- /footer -->
      </div><!-- /content -->

      <div data-role="panel" class="jqm-navmenu-panel" data-position="left" data-display="overlay" data-theme="a">
          <div class="panel-menu">
              <img src="./src/images/ic_menu.png" width="23.25px" height="19.5px">
          </div>
          <div class="category">
              <div class="card">
                  {% if target == "summary" %}
                  <div class="li-header selected" id="heading_summary"
                      onclick="window.location.replace('/dashboard/report_viewer/{{ member_service_id }}/summary');">
                      <div class="btn">
                          <span class="font-style-subtitle font-color-wh">Summary</span>
                      </div>
                  </div>
                  {% else %}
                  <div class="li-header not-select" id="heading_summary"
                      onclick="window.location.replace('/dashboard/report_viewer/{{ member_service_id }}/summary');">
                      <div class="btn">
                          <span class="font-style-subtitle font-color-bk">Summary</span>
                      </div>
                  </div>
                  {% endif %}
              </div>
          </div>
          <div class="category">
              <div class="card">
                  {% if target == "summary" %}
                  <div class="li-header not-select" id="heading_cadlology">
                      <div class="btn">
                          <span class="font-style-subtitle font-color-bk">Cardiology</span>
                      </div>
                  </div>
                  {% else %}
                  <div class="li-header selected" id="heading_cadlology">
                      <div class="btn">
                          <span class="font-style-subtitle font-color-wh">Cardiology</span>
                      </div>
                  </div>
                  {% endif %}
                  <div id="collapse_cardiology">
                      <div class="card-body">
                          <ul>
                              {% for drug, guidelines in json_lighthouse.guidelines.items() %}
                                  {% for guideline in guidelines %}
                                      {% if guideline.recommendation.applicable != False and guideline.recommendation.content_curated == true %}
      
                                      {% if drug == target %}
                                      <li onclick="window.location.replace('/dashboard/report_viewer/{{ member_service_id }}/{{drug}}');">
                                          <div class="li-item-selected">
                                              <span class="font-style-body1 font-color-m">{{drug}}</span>
                                          </div>
                                      </li>
                                      {% else %}
                                          {% if target == "summary" %}
                                      <li onclick="window.location.replace('/dashboard/report_viewer/{{ member_service_id }}/{{drug}}');">
                                          <div class="li-item-no">
                                              <span class="font-style-body2 font-color-cg">{{drug}}</span>
                                          </div>
                                      </li>
                                          {% else %}
                                      <li onclick="window.location.replace('/dashboard/report_viewer/{{ member_service_id }}/{{drug}}');">
                                          <div class="li-item">
                                              <span class="font-style-body2 font-color-cg">{{drug}}</span>
                                          </div>
                                      </li>
                                          {% endif %}
                                      {% endif %}
                              
                                      {% endif %}
                                  {% endfor %}
                              {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="btn-download">
              <a href="{{ json_lighthouse.report_info.download_url }}" target="_blank">
              <img src="./src/images/ic_download.png" width="18px" height="16px"> <span class="font-style-caption font-color-wh">PDF File</span>
              </a>
          </div>
      </div><!-- /panel -->
      
    </div>
    </div>
    <!-- Required JS files to enable this page to embed within an MPage -->
    <!--
      Temporarily disable cerner-smart-embeddable-lib
      <script src='https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js'></script>
      <script src='./lib/js/cerner-smart-embeddable-lib-1.0.0.min.js'></script>
    -->

    <!-- Application-level javascript-->
    <script src='./src/js/example-smart-app.js'></script>

    <!-- FHIR Client JS Library -->
    <script src='./lib/js/fhir-client-v0.1.12.js'></script>

    <!-- Prevent session bleed caused by single threaded embedded browser and sessionStorage API -->
    <!-- https://github.com/cerner/fhir-client-cerner-additions -->
    <script src='./lib/js/fhir-client-cerner-additions-1.0.0.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src='./src/js/report_viewer.js'></script>
    <script src='./src/js/jquery.js'></script>
    <script src='./src/js/index.js'></script>
    <script src='./src/js/jquery.mobile-1.4.5.min.js'></script>

    <script>
      extractData().then(
        //Display Patient Demographics and Observations if extractData was success
        function(p) {
          drawVisualization(p);
        },

        //Display 'Failed to call FHIR Service' if extractData failed
        function() {
          $('#loading').hide();
          $('#errors').html('<p> Failed to call FHIR Service </p>');
        }
      );
    </script>
  </body>
</html>
