/* Color */
:root {
    --bk-color: #383838;
    --dg-color: #636A76;
    --cg-color: #A4A6B5;
    --sg-color: #E4E4F4;
    --beige-color: #F8F8F8;
    --navy-color: #262F70;
    --m-color:  #1FAECA;
    --blue1-color: #D4F0F5;
    --blue2-color: #E8F7FA;
    --bg-color: #F3F3FC;
    --wh-color: #FFFFFF;
    --red-color: #E40230;
    --green-color: #72B62B;

    --lt-size-font:       1.25em;
    --subtitle-size-font: 1.15em;
    --caption-size-font:  0.95em;
    --body-size-font:     1em;
    --t1-size-font:       1.5em;
    --t2-size-font:       1.1em;
    --small-size-font:    0.75em;
    --footer-size-font:   0.6em;
}

.font-style-subtitle {
    font-size: var(--subtitle-size-font);
    font-weight: bolder;
}

.font-style-subtitle2 {
    font-size: var(--subtitle-size-font);
    font-weight: normal;
}

.font-style-lt {
    font-size: var(--lt-size-font);
    font-weight: bolder;
}

.font-style-t1 {
    font-size: var(--t1-size-font);
    font-weight: bolder;
}

.font-style-body1 {
	font-size: var(--body-size-font);
	font-weight: bold;
}

.font-style-body2 {
	font-size: var(--body-size-font);
	font-weight: normal;
}

.font-style-caption2 {
	font-size: var(--caption-size-font);
    font-weight: normal;
}

.font-style-small1 {
	font-size: var(--small-size-font);
    font-weight: bold;
}

.font-style-smal2 {
	font-size: var(--small-size-font);
    font-weight: normal;
}

.font-style-footer {
    font-size: var(--footer-size-font);
    font-weight: normal;
}

.font-color-wh {
    color: var(--wh-color);
}

.font-color-bk {
    color: var(--bk-color);
}

.font-color-navy {
    color: var(--navy-color);
}

.font-color-cg {
    color: var(--cg-color);
}

.font-color-m {
    color: var(--m-color);
}

.font-color-red {
    color: var(--red-color);
}

/* Body */
body {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);

    margin: 0 auto;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    text-shadow: none;
}

span {
    font-family: 'Roboo', sans-serif;
    letter-spacing: -0.03em;
    text-shadow: none;
}


.jqm-demos {
    width: 100vw;
    height: 100%;
}

.content {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
}

/* Header */
header {
    position: relative;

    width: 100vw;
    height: 72px;
}

/*
.div-header {
    position: relative;
    display: flex;
    justify-content: space-between;

    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;

    height: 100%;

    margin: 0 auto;

    background-color: var(--wh-color);
}

.div-header>.div-logo {
    position: relative;
    width: 160px;
    height: 100%;

    padding-left: 26px;
    line-height: 65px;
}*/

.jqm-header .div-patient-id {
    position: relative;
    display: inline-block;

    height: 44px;

    line-height: 42px;

    border-radius: 10px;

    padding: 0px 15px 0px 15px;
    margin: 14px 16px 14px 64px;
    background-color: var(--navy-color);
}

.jqm-header .div-patient-info {
    position: relative;
    float: left;

    width: 150px;
    height: 50px;

    margin: 14px 0px 11px 0px;
}

.jqm-header .div-logo {
    position: absolute;
    right: 0;

    height: 44px;

    line-height: 42px;

    border-radius: 10px;

    padding: 0px 15px 0px 15px;
    margin: 14px 16px 14px 14px;
}

.jqm-header .div-logo img {
    position: relative;
    top: 8px;
}

.jqm-header .div-Logo span {
    
}

/* Menu */
.jqm-navmenu-panel .category {
    position: relative;

    padding: 4px 0px 4px 0px;

    border-bottom: 1px solid var(--bg-color);
}

.li-header {
    width: 100%;
    height: 52px;
}

.card>.selected {
    background-color: var(--m-color);
}

.card>.not-select {
    background-color: var(--wh-color);
}

.li-header>.btn {
    position: relative;
    display: inline-block;

    width: 100%;
    height: 100%;

    text-align: left;
    padding-left: 26px;

    line-height: 48px;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    outline: none;
}

.li-header>.btn:focus, .li-header>.btn:active {
    outline: none !important;
    box-shadow: none;
}

.li-header>.btn>img {
    position: absolute;
    left: 205px;
    top: 20px;
}

.category ul {
    width: 100%;
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.category li {
    width: 100%;
    height: 42px;

    line-height: 42px;
    text-indent: 25px;
    padding: 0;
}

.category .li-item-selected {
    width: calc(100% + 4px);
    height: 100%;
    background-color: var(--blue1-color);

    border-left: solid 4px var(--m-color);
}

.category .li-item {
    width: calc(100% + 4px);
    height: 100%;
    background-color: var(--blue2-color);

    border-left: solid 4px var(--blue2-color);
}

.category .li-item-no {
    width: calc(100% + 4px);
    height: 100%;
    background-color: var(--beige-color);

    border-left: solid 4px var(--beige-color);
}


.panel-menu {
    width: 100%;
    height: 73px;
}

.panel-menu img {
    margin-left: 68.38px;
    margin-top: 26.25px;
}



.btn-download {
    position: fixed;
    left: 10px;


    width: 140px;
    max-width: 140px;
    height: 52px;

    border-radius: 10px;

    line-height: 52px;
    text-align: center;

    border-top: 1px solid var(--bg-color);
    background-color: var(--m-color);
    z-index: 10000;
}

.btn-download a:link { text-decoration: none;}
.btn-download a:visited { text-decoration: none;}
.btn-download a:hover { text-decoration: underline;}

/* Main */

.ui-content>.div-box {
    width: 100%;
}

.ui-content .div-content-title {
    position: relative;

    width: 100%;
    height: 48px;

    line-height: 1;
}

.ui-content .div-content-title img {
    position: relative;
}

.ui-content .div-cards {
    position: relative;

    width: calc(100% - 40px);
    height: 76px;
}

.div-cards>div {
    position: relative;
    float: left;

    width: 190px;
    height: 76px;

    margin-right: 10px;

    background-color: var(--wh-color);
}

.div-cards>div>span:nth-child(1) {
    position: relative;
    display: block;

    margin: 15px 0px 0px 15px;
}

.div-cards>div>span:nth-child(2) {
    position: relative;
    display: block;

    text-align: right;

    margin: 0px 15px 15px 0px;
}

.div-list {
    position: relative;
    width: 100%;
    margin-top: 40px;
}

.div-drug-summary {
    position: relative;
    width: 100%;
}

.div-list>.div-table-header {
    position: relative;

    width: 100%;
    height: 42px;

    border-bottom: 4px solid var(--bg-color);
}

.div-table-drug-header {
    position: relative;

    width: 100%;
    height: 40px;

    text-indent: 10px;

    background-color: var(--navy-color);
}

.div-list>.div-table-header>div, .div-table-drug-header>div {
    float: left;
    display: block;

    line-height: 36px;
}

.div-list>.div-table-header>div:nth-child(1) {
    min-width: 16%;
    width: 16%;
}
.div-list>.div-table-header>div:nth-child(2) {
    min-width: 18%;
    width: 18%;
}
.div-list>.div-table-header>div:nth-child(3) {
    min-width: 14%;
    width: 14%;
}
.div-list>.div-table-header>div:nth-child(4) {
    min-width: 22%;
    width: 22%;
}
.div-list>.div-table-header>div:nth-child(5) {
    min-width: 30%;
    width: 30%;
}

.div-table-drug-header>div:nth-child(1) {
    width: 20%;
}

.div-table-drug-header>div:nth-child(2) {
    width: 20%;
}

.div-table-drug-header>div:nth-child(3) {
    width: 20%;
}

.div-table-drug-header>div:nth-child(4) {
    width: 40%;
}

.div-table-drug-header>div:nth-child(4) span {
    margin-top: -3px;
    display:inline-block;
}

.div-drug-summary>.table-drug {
    position: relative;
    width: 100%;

    background-color: var(--wh-color);
    border-collapse: collapse;
}

.div-drug-summary>.table-drug tr {
    position: relative;
    width: 100%;
    min-height: 40px;
    height: 40px;
}

.div-drug-summary>.table-drug tr td {
    width: 20%;
    padding-left: 10px;
}

.div-drug-summary>.table-drug tr td:nth-child(4) {
    width: 40%;
    padding-left: 20px;
}

.div-list>.table-drug-class {
    position: relative;
    width: 100%;

    background-color: var(--wh-color);
    border-collapse: collapse;
    border-bottom: 4px solid var(--bg-color);
}

.div-list>.table-drug-class tr {
    position: relative;
    width: 100%;
    min-height: 40px;
    height: 40px;

    border-top: 4px solid var(--bg-color);
}

.div-list>.table-drug-class tr .td-1 {
    position: relative;
    min-width: 16%;
    width: 16%;

    vertical-align: text-top;
    padding-top: 8px;

    text-indent: 15px;
}
.div-list>.table-drug-class tr .td-2 {
    min-width: 18%;
    width: 18%;
}
.div-list>.table-drug-class tr .td-3 {
    min-width: 14%;
    width: 14%;
}
.div-list>.table-drug-class tr .td-4 {
    min-width: 22%;
    width: 22%;
}
.div-list>.table-drug-class tr .td-5 {
    min-width: calc(30% - 15px);
    width: calc(30% - 15px);
    padding-right: 15px;
}

/* each drug */
.jqm-content .div-summary {
    position: relative;

    width: 100%;

    border-radius: 10px;

    background-color: var(--wh-color);
}

.jqm-content .div-summary>div:nth-child(1) {
    position: relative;
    padding: 15px;

    border-bottom: 2px solid var(--bg-color);
}
.jqm-content .div-summary>div:nth-child(1)>span {
    display: block;
}

.div-reference {
    position: relative;
    display: flex;
    flex-direction: row;

    padding: 15px;
}

.div-reference>div:nth-child(1) {
    position: relative;
    
    padding: 2px 10px 6px 10px;
    border-radius: 15px;

    background-color: var(--wh-color);
    height: min-content;
}

.div-reference>div:nth-child(2) {
    position: relative;

    width: 6%;
    height: auto;

    padding: 2px 0px 6px 15px;
}

.div-reference>div:nth-child(2)>span {
    word-break: break-all;
    display: block;
    margin-bottom: 5px;
}

.div-reference>div:nth-child(3) {
    position: relative;

    width: 82%;
    height: auto;

    padding: 2px 0px 6px 15px;
}

.div-reference>div:nth-child(3)>span {
    word-break: break-all;
    display: block;
    margin-bottom: 5px;
}

.div-drug-content {
    position: relative;

    width: 100%;

    background-color: var(--wh-color);
    border-top: 4px solid var(--navy-color);
}

.div-drug-content>div:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 100%;
    height: 62px;

    border-bottom: 2px solid var(--bg-color);
}

.div-drug-content>div:nth-child(2) {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 62px;

    padding: 10px 18px 10px 18px;

    border-bottom: 2px solid var(--bg-color);
}

.div-drug-content>div:nth-child(2)>span {
    position: relative;
    display: inline-block;
}

.div-drug-content>div:nth-child(1)>div:nth-child(1) {
    position: relative;
    padding: 16px 0px 16px 18px;

    width: calc(100% - 280px);
    }

    .div-drug-content>div:nth-child(1)>div:nth-child(1) span {
        position: absolute;
        margin-left: 7px;
        word-break: break-word;
        left: 50px;
        top: 20px;
        margin-top: -4px;
    }

    .div-drug-content>div:nth-child(1)>div:nth-child(1) span.long_title {
        position: absolute;
        margin-left: 7px;
        word-break: break-word;
        left: 50px;
        top: 20px;
    }

    @media only screen and (min-width: 1024px) {
        .div-drug-content>div:nth-child(1)>div:nth-child(1) {
            position: relative;
            padding: 16px 0px 16px 18px;
            width: calc(100% - 390px);
        }    

        .div-drug-content>div:nth-child(1)>div:nth-child(1) span {
            margin-left: 7px;
            word-break: break-all;
        }

        .div-drug-content>div:nth-child(1)>div:nth-child(1) span.long_title {
            left: unset;
        }
        }

.div-drug-small-title {
    width: 130px;
    height: 100%;

    padding-top: 8px;
}

.div-drug-small-title span {
    display: block;
}


/* scroll */
.scroll-wrapper {
    overflow-y: scroll;
}

.scroll-wrapper::-webkit-scrollbar {
    width: 6px;
}
.scroll-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
}
.scroll-wrapper::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: gray;
}
.scroll-wrapper::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

/*
#footer {
    position: relative;
    left: -20px;
    top: 20px;

    width: calc(100% + 40px);
    height: 200px;

    padding: 30px;

    background-color: var(--wh-color);
}*/

.jqm-demos .jqm-footer div {
    position: relative;

    width: 100;
    height: 90px;

    padding-bottom: 12px;
    margin-bottom: 12px;
    line-height: 140px;
    border-bottom: 1px solid var(--dg-color);
}

.jqm-demos .jqm-footer span {
    position: relative;
    display: inline-block;
    line-height: 1.5;

    margin-bottom: 20px;
}


.div-introduction {
    position: relative;
    width: 100%;
}

.div-introduction>span {
    position: relative;
    display: block;
}

/* margin */
.margin-top {
    margin-top: 20px;
}

/* custom media 가로모드 */
@media (min-width: 60em) {
	.jqm-header .div-patient-id {
		margin-left: 20px;
    }

    .jqm-demos .jqm-content {
        width: calc(100vw - 202px);
        border-left: 1px solid var(--sg-color);
    }

    .panel-menu {
        display: none;
    }
}